<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ru.koleslena.eclipse.compositelauncher.ui.CompositeLaunchConfigurationTabGroup"
            id="ru.koleslena.eclipse.compositelauncher.core.ui.launchConfigurationTabGroup"
            type="ru.koleslena.eclipse.compositelauncher.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
